In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import itertools
import rainflow as rf # https://github.com/iamlikeme/rainflow

In [84]:
def rf_array2df(signal):

    df_rf = pd.DataFrame([
        [rng, mean, count, i_start, i_end] 
        for rng, mean, count, i_start, i_end in rf.extract_cycles(signal)
    ],columns=['rng', 'mean', 'count', 'i_start', 'i_end'])

    df_rf['vmin'] = df_rf['mean']-df_rf['rng']/2
    df_rf['vmax'] = df_rf['mean']+df_rf['rng']/2
    df_rf['N'] = df_rf['count']
    df_rf = df_rf.drop(['rng','mean','count'],axis=1)
    
    return df_rf

In [85]:
signal1 = [0,100,50,200,40,300,-100,0]
signal2 = [0,-20,100,20,120,-400,-20,-100,10,0]

In [86]:
rf1 = rf_array2df(signal1)
rf1

   i_start  i_end   vmin   vmax    N
0        1      2   50.0  100.0  1.0
1        3      4   40.0  200.0  1.0
2        0      5    0.0  300.0  0.5
3        5      6 -100.0  300.0  0.5
4        6      7 -100.0    0.0  0.5

In [87]:
rf2 = rf_array2df(signal2)
rf2

   i_start  i_end   vmin   vmax    N
0        0      1  -20.0    0.0  0.5
1        2      3   20.0  100.0  1.0
2        1      4  -20.0  120.0  0.5
3        6      7 -100.0  -20.0  1.0
4        4      5 -400.0  120.0  0.5
5        5      8 -400.0   10.0  0.5
6        8      9    0.0   10.0  0.5

In [96]:
rf12 = rf_array2df(signal1+signal2)
rf12

   i_start  i_end   vmin   vmax    N
0        1      2   50.0  100.0  1.0
1        3      4   40.0  200.0  1.0
2        0      5    0.0  300.0  0.5
3        8      9  -20.0    0.0  1.0
4       10     11   20.0  100.0  1.0
5        6     12 -100.0  120.0  1.0
6       14     15 -100.0  -20.0  1.0
7        5     13 -400.0  300.0  0.5
8       13     16 -400.0   10.0  0.5
9       16     17    0.0   10.0  0.5